sidebar-width = 120px
sidebar-icon-size = sidebar-width/5
sidebar-label-size = sidebar-width/10
topnav-height = 60px
boxed-width = 1200px
boxed-backgound = 'patterns/shattered.png'

.layout-wrapper
  width 100%
  overflow-x hidden
  

  &.sidebar-shown
    .navbar-application-side
      visibility visible !important
      width sidebar-width !important
      margin-left 0px !important
    .navbar-application-top   
      padding-left sidebar-width
      .navbar-minimalize
        margin-left 0px 
        visibility visible 

  .navbar-application-side, .navbar-application-top
    transition 0.3s ease-in-out

  .navbar-application-side
    position fixed
    height 100%
    background-color #fff
    border-color nav-bg
    box-shadow md-shadow-main
    z-index 201
    width sidebar-width
    .nav-header
      padding 33px 25px
      background url("images/4.png") no-repeat
      text-align center
      a
        color #ffffff
        i.fa
          display block
          font-size sidebar-icon-size
        span
          font-size sidebar-label-size
    ul
      li
        height sidebar-width
        text-align center      
        &.active
          border-left 4px solid darken(navy, 2%)

        a
          .fa
            display block
            font-size sidebar-icon-size
            margin-top (sidebar-width/2 - sidebar-icon-size)
          span
            line-height 30px
            font-size sidebar-label-size
            text-transform uppercase
          &:focus, &:hover
            background-color inherit
            font-weight 700
            color darken(text-color, 5%)



  .navbar-application-top
    height topnav-height
    position fixed
    display table
    width 100%
    padding-left sidebar-width
    transition-duration 0.4s
    z-index 200
    border-bottom none !important
    background-color md-color-primary
    box-shadow md-shadow-main
    color #fff
    .navbar-content
      display table-cell
      vertical-align middle
      .navbar-minimalize
        margin-left -30px
        visibility hidden
        font-size 26px 
        float left    
      .navbar-search
        height 20px
        padding 0
        max-width 200px
        display table-cell
        overflow-x hidden
        .fa
          position absolute
          margin-top: 9px
          margin-left 10px
          font-size 15px
        .form-group
          margin-top 9px
          margin-bottom 5px
          input            
            background #05a084
            border-radius 20px
            padding-left 30px
            border medium none
            font-size 14px
            z-index 2000
            color #FFF
          input::-webkit-input-placeholder 
            color: #fff !important
              
                 
    /* FOOTER */

  .footer
    background none repeat scroll 0 0 white
    border-top 1px solid border-color
    bottom 0
    left 0
    padding 10px 20px
    position absolute
    right 0

  .footer.fixed_full
    position fixed
    bottom 0
    left 0
    right 0
    z-index 1000
    padding 10px 20px
    background white
    border-top 1px solid border-color

  .footer.fixed
    position fixed
    bottom 0
    left 0
    right 0
    z-index 1000
    padding 10px 20px
    background white
    border-top 1px solid border-color
    margin-left sidebar-width       
       
  .page-wrapper
    padding 0 15px
    min-height 568px
    position relative !important
    min-height auto
    transition: all 0.3s ease-out
    position relative
    margin topnav-height 0 0 sidebar-width
    min-height 1200px
    .page-heading
      border-bottom: none !important
      border-top: 0
      padding: 0 10px 20px 10px
      box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14)
    .breadcrumb
      background-color transparent
      padding 0
      margin-bottom 0
      & > li a
        color inherit
      & > .active
        color inherit

  .fullscreen
    .navbar-application-side, .navbar-application-top, .footer
      visibility hidden    
    .page-wrapper
      margin-left 0px

  @media (max-width: 768px)
    .page-wrapper
      position inherit
      margin topnav-height 0 0 0    
    .navbar-application-side
      visibility hidden
      margin-left (- sidebar-width)
    .navbar-application-top
      padding-left 0
      .navbar-minimalize
        margin-left 0px !important
        visibility visible !important