.loginscreen
  width 300px
  max-width 400px
  z-index 100
  margin 0 auto
  padding-top 40px
  
.logo-name
  color: #e6e6e6
  font-size: 70px
  margin-left: -10px
  font-weight: 600
  letter-spacing: -7px
  margin-bottom: 0px
