lesscss-percentage(n)
  (n * 100)%

.label
  background-color light-gray
  color label-badget-color
  font-family 'Roboto'
  font-size 10px
  font-weight 600
  padding 3px 8px
  text-shadow none

.badge
  background-color light-gray
  color label-badget-color
  font-family 'Roboto'
  font-size 11px
  font-weight 600
  padding-bottom 4px
  padding-left 6px
  padding-right 6px
  text-shadow none

.label-primary, .badge-primary
  background-color navy
  color #FFFFFF

.label-success, .badge-success
  background-color blue
  color #FFFFFF

.label-warning, .badge-warning
  background-color yellow
  color #FFFFFF

.label-warning-light, .badge-warning-light
  background-color yellow
  color #ffffff

.label-danger, .badge-danger
  background-color red
  color #FFFFFF

.label-info, .badge-info
  background-color lazur
  color #FFFFFF

.label-inverse, .badge-inverse
  background-color #262626
  color #FFFFFF

.label-white, .badge-white
  background-color #FFFFFF
  color #5E5E5E

.label-white, .badge-disable
  background-color #2A2E36
  color #8B91A0

.help-tooltip
  display inline-block

.help-tooltip-group
  display inline-block
  margin-left 10px
  position relative
  cursor pointer

.help-tooltip-group > .loader
  display none

.is-fetching > .loader
  display block

.is-fetching > .help-tooltip-button
  display none

.loader-hidden
  display none

.popover > .arrow
  margin-top 0px !important

.popover-arrow
  position absolute
  top 20px
  right 100%
  border 8px solid transparent
  border-right-color #50555c
  -webkit-transition-property opacity
  -moz-transition-property opacity
  -ms-transition-property opacity
  -o-transition-property opacity
  transition-property opacity

.loader
  display inline-block
  width 12px
  height 12px
  border 2px solid
  border-bottom-color transparent
  border-radius 50%
  background transparent
  animation fa-spin 1s infinite linear



.is-in-action:not(form) .loader
  display inline-block
  margin-top -2px
  vertical-align middle