body
  font-family "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color gray
  font-size 13px
  color text-color
  overflow-x hidden

html, body
  height 100%

a
  cursor pointer
  color: #333

a:hover, a:focus
  text-decoration none
  font-weight 400
  h1, h2, h3, h4
    text-decoration none
    font-weight 400



