buttonColor(color)
  background-color color
  border-color color
  color #FFFFFF
  &:hover, &:focus, &:active, &.active, &:active:focus, &:active:hover, &.active:hover, &.active:focus
    background-color darken(color, 3%)
    border-color darken(color, 3%)
    color #FFFFFF
  &:active, &.active
    background-image none
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled], fieldset[disabled] &, fieldset[disabled] &:hover, fieldset[disabled] &:focus, fieldset[disabled] &:active, fieldset[disabled] &.active
    background-color lighten(color, 4%)
    border-color lighten(color, 4%)


.btn
  border-radius btn-border-radius

.btn-primary
  buttonColor navy
.btn-success
  buttonColor blue 
.btn-info
  buttonColor lazur 
.btn-warning
  buttonColor yellow  
.btn-danger
  buttonColor red  

.btn-default
  color inherit
  background-color #fff
  &:hover, &:focus, &:active, &.active
    text-decoration none
  &:active, &.active
    background-image none
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled], fieldset[disabled] &, fieldset[disabled] &:hover, fieldset[disabled] &:focus, fieldset[disabled] &:active, fieldset[disabled] &.active
    color #cacaca
.btn-link
  color inherit
  &:hover, &:focus, &:active, &.active
    color navy
    text-decoration none
  &:active, &.active
    background-image none
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active, &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled], fieldset[disabled] &, fieldset[disabled] &:hover, fieldset[disabled] &:focus, fieldset[disabled] &:active, fieldset[disabled] &.active
    color #cacaca


.btn-rounded
  border-radius 50px

.btn-outline
  color inherit
  background-color transparent
  transition all .5s
  &.btn-primary
    color navy
  &.btn-success
    color blue
  &.btn-info
    color lazur
  &.btn-warning
    color yellow
  &.btn-danger
    color red
  &:hover
    color #fff

.btn-dropdown
  width: 25px;
  height: 25px;
  padding: 0px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  background-color: transparent;

  &:hover
    background-color dark-gray

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar
  box-shadow none
  
.float-e-margins
  .btn 
    margin-bottom: 5px
    margin-right: 5px
    
.btn-circle
  width 30px
  height 30px
  padding 6px 0
  border-radius 15px
  text-align center
  font-size 12px
  line-height 1.428571429

.btn-circle.btn-lg
  width 50px
  height 50px
  padding 10px 16px
  border-radius 25px
  font-size 18px
  line-height 1.33

.btn-circle.btn-xl
  width 70px
  height 70px
  padding 10px 16px
  border-radius 35px
  font-size 24px
  line-height 1.33