.input-group-input
  display table-cell

.input-group-link
  font-size 14px
  padding-left 6px


/* IMAGE UPLOADER */

.image-thumbnail
  background #E4E4E4
  overflow hidden
  cursor pointer
  width 100px
  height 100px
  img
    width 100%
    height 100%

.image-crop-area
  border 5px dashed light-gray
  overflow hidden
  width 100%
  display table

.image-crop-placeholder
  display table-cell
  vertical-align middle
  text-align center

.image-upload-progress
  line-height 15px
  display inline-block
  width 100px
  border 3px groove #CCC

.image-upload-progress div
  font-size smaller
  background orange
  width 0

/* CHOSEN PLUGIN */

.chosen-container-single .chosen-single
  background #ffffff
  box-shadow none
  -moz-box-sizing border-box
  background-color #FFFFFF
  border 1px solid #CBD5DD
  border-radius 2px
  cursor text
  height auto !important
  margin 0
  min-height 30px
  overflow hidden
  padding 4px 12px
  position relative
  width 100%

.chosen-container-multi .chosen-choices li.search-choice
  background #f1f1f1
  border 1px solid #ededed
  border-radius 2px
  box-shadow none
  color #333333
  cursor default
  line-height 13px
  margin 3px 0 3px 5px
  padding 3px 20px 3px 5px
  position relative

/* PAGINATIN */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
  background-color #f4f4f4
  border-color #DDDDDD
  color inherit
  cursor default
  z-index 2

.pagination > li > a, .pagination > li > span
  background-color #FFFFFF
  border 1px solid #DDDDDD
  color inherit
  float left
  line-height 1.42857
  margin-left -1px
  padding 4px 10px
  position relative
  text-decoration none

/* TOOLTIPS */

.tooltip-inner
  background-color #2F4050

.tooltip.top .tooltip-arrow
  border-top-color #2F4050

.tooltip.right .tooltip-arrow
  border-right-color #2F4050

.tooltip.bottom .tooltip-arrow
  border-bottom-color #2F4050

.tooltip.left .tooltip-arrow
  border-left-color #2F4050

/* INPUTS */

.inline
  display inline-block !important

.input-s-sm
  width 120px

.input-s
  width 200px

.input-s-lg
  width 250px

.i-checks
  padding-left 0

.form-group
  margin-top 16px
  margin-bottom 12px
  padding-bottom 0px

.form-group.label-floating .help-tooltip
  position absolute
  top 7px
  right 0px

.form-control, .single-line
  background-color #FFFFFF
  background-image none
  border 1px solid #e5e6e7
  border-radius 1px
  color inherit
  display block
  padding 6px 12px
  transition border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
  width 100%

.form-control:focus, .single-line:focus
  border-color navy !important

.has-success .form-control
  border-color navy

.has-warning .form-control
  border-color yellow

.has-error .form-control
  border-color red

.has-success .control-label
  color navy

.has-warning .control-label
  color yellow

.has-error .control-label
  color red

/* Validation */

label.error
  color #cc5965
  display inline-block
  margin-left 5px

.form-control.error
  border 1px dotted #cc5965

.input-group-addon
  background-color #fff
  border 1px solid #E5E6E7
  border-radius 1px
  color inherit
  font-size 14px
  font-weight 400
  line-height 1
  padding 6px 12px
  text-align center

.spinner-buttons.input-group-btn .btn-xs
  line-height 1.13

.spinner-buttons.input-group-btn
  width 20%

.noUi-connect
  background none repeat scroll 0 0 navy
  box-shadow none

.slider_red .noUi-connect
  background none repeat scroll 0 0 red
  box-shadow none

.noUi-tooltip
  width 300px


/* SWITCHES */
.onoffswitch
  position relative
  width 64px
  margin-top 5px
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

.onoffswitch-checkbox
  display none

.onoffswitch-label
  display block
  overflow hidden
  cursor pointer
  border 2px solid navy
  border-radius 2px

.onoffswitch-inner
  width 200%
  margin-left -100%
  -moz-transition margin 0.3s ease-in 0s
  -webkit-transition margin 0.3s ease-in 0s
  -o-transition margin 0.3s ease-in 0s
  transition margin 0.3s ease-in 0s

.onoffswitch-inner:before, .onoffswitch-inner:after
  float left
  width 50%
  height 20px
  padding 0
  line-height 20px
  font-size 12px
  color white
  font-family Trebuchet, Arial, sans-serif
  font-weight bold
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

.onoffswitch-inner:before
  content "ДА"
  padding-left 10px
  background-color navy
  color #FFFFFF

.onoffswitch-inner:after
  content "НЕТ"
  padding-right 10px
  background-color #FFFFFF
  color #999999
  text-align right

.onoffswitch-switch
  width 20px
  margin 0px
  background #FFFFFF
  border 2px solid navy
  border-radius 2px
  position absolute
  top 0
  bottom 0
  right 44px
  -moz-transition all 0.3s ease-in 0s
  -webkit-transition all 0.3s ease-in 0s
  -o-transition all 0.3s ease-in 0s
  transition all 0.3s ease-in 0s

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
  margin-left 0

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
  right 0px



/* Toastr custom style */

#toast-container > .toast
  background-image none !important

#toast-container > .toast:before
  position fixed
  font-family FontAwesome
  font-size 24px
  line-height 24px
  float left
  color #FFF
  padding-right 0.5em
  margin auto 0.5em auto -1.5em

#toast-container > .toast-warning:before
  content "\f0e7"

#toast-container > .toast-error:before
  content "\f071"

#toast-container > .toast-info:before
  content "\f005"

#toast-container > .toast-success:before
  content "\f00C"

#toast-container > div
  -moz-box-shadow 0 0 3px #999
  -webkit-box-shadow 0 0 3px #999
  box-shadow 0 0 3px #999
  opacity .9

