/* HELPERS */
.full-width
  width 100% !important

.circle-border
  border 6px solid #FFFFFF
  border-radius 50%

.block
  display block

.absolute
  position absolute

.table
  display table

.table-cell
  display table-cell

.relative
  position relative

.clear
  display block
  overflow hidden

.ellipsis
  overflow: hidden
  text-overflow: ellipsis

.flex
  display flex

.float-right
  float right

.float-left
  float left

.img-circle
  border-radius 50%
  
.show-grid [class^="col-"]
  padding-top 10px
  padding-bottom 10px
  border 1px solid #ddd
  background-color #eee !important

.show-grid
  margin 15px 0