
.ibox
  clear both
  margin-bottom 25px
  margin-top 0
  padding 0
  box-shadow md-shadow-main

  &.border-bottom
    border-bottom none !important

  &.collapsed .ibox-content
    display none

  &.collapsed .fa.fa-chevron-up:before
    content "\f078"

  &.collapsed .fa.fa-chevron-down:before
    content "\f077"

  &:after, &:before
    display table

  .ibox-heading
    background-color #f3f6fb
    border-bottom none
    
    h3
      font-weight 200
      font-size 24px
  
  .ibox-title
    -moz-border-bottom-colors none
    -moz-border-left-colors none
    -moz-border-right-colors none
    -moz-border-top-colors none
    background-color ibox-title-bg
    border-color border-color
    border-image none
    border-style none
    border-width 3px 0 0
    color inherit
    margin-bottom 0
    padding 14px 15px 7px
    min-height 48px
    
    .label
      float left
      margin-left 4px
    
    h5
      display inline-block
      font-size 14px
      margin 0 0 7px
      padding 0
      text-overflow ellipsis
      float left

  .ibox-content
    clear both
    background-color ibox-content-bg
    color inherit
    padding 15px 20px 20px 20px
    border-color border-color
    border-image none
    border-style none
    border-width 1px 0px
    
    h1, h2, h3, h4, h5, h1, h2, h3, h4, h5
      margin-top 5px
    
    .text-box
      padding-bottom 0px
      padding-top 15px

  .ibox-footer
    color inherit
    border-top 1px solid border-color
    font-size 90%
    background #ffffff
    padding 10px 15px

  .ibox-tools
    display block
    float none
    margin-top 0
    position relative
    padding 0
    text-align right

    a
      cursor pointer
      margin-left 5px
      color #c4c4c4

      &.btn-primary
        color #fff

    .dropdown-menu > li > a
      padding 4px 10px
      font-size 12px

    &.open > .dropdown-menu
      left auto
      right 0