
/* MODAL */
.modal
  position fixed
  overflow-y scroll

.modal-open
  display block

.modal-absolute
  position absolute
  overflow-y scroll

.modal-content
  background-clip padding-box
  background-color #FFFFFF
  border 1px solid rgba(0, 0, 0, 0)
  border-radius 2px
  box-shadow 0 27px 24px rgba(0, 0, 0, 0.3)
  outline 0 none
  position relative

.modal-dialog
  z-index 2200

.modal-body
  padding 20px 30px 30px 30px

.inmodal .modal-body
  background #f8fafb

.inmodal .modal-header
  padding 30px 15px
  text-align center

.animated.modal.fade .modal-dialog
  -webkit-transform none
  -ms-transform none
  -o-transform none
  transform none

.inmodal .modal-title
  font-size 26px

.inmodal .modal-icon
  font-size 84px
  color #e2e3e3

.modal-footer
  margin-top 0
  position relative

.modal-backdrop
  z-index 2040 !important

.modal
  z-index 2050 !important

.modal-backdrop-transparent
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: transparent;
  
body.modal-open
  padding-right inherit !important

body.modal-open .animated
  animation-fill-mode initial