.nav > li > a > i
  margin-right 6px

.navbar-nav > li.active
  border-bottom 4px solid darken(navy, 2%)
  margin-bottom -4px
  background darken(nav-bg, 3%)


.navbar
  border 0
  margin-bottom 0px

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  background navy
.nav > li > a
  color text-color
  //padding 14px 20px 14px 25px
  font-weight 400

.nav > li.active
  background lighten(gray, 2%)

.nav > li.active > a
  color darken(text-color, 5%)
  font-weight 700

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  -moz-border-bottom-colors none
  -moz-border-left-colors none
  -moz-border-right-colors none
  -moz-border-top-colors none
  background none
  border-color rgb(221, 221, 221, 1) rgb(221, 221, 221, 1) rgba(0, 0, 0, 0)
  border-bottom gray
  border-image none
  border-style solid
  border-width 1px
  color #555555
  cursor default

.nav.nav-tabs li
  background none
  border none

.nav-tabs > li > a
  color #A7B1C2
  font-weight 600
  padding 10px 20px 10px 25px

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus
  background-color #e6e6e6
  color text-color

.ui-tab .tab-content
  padding 20px 0px