.panel-primary
  border-color navy

.panel-primary > .panel-heading
  background-color navy
  border-color navy

.panel-success
  border-color blue

.panel-success > .panel-heading
  background-color blue
  border-color blue
  color #ffffff

.panel-info
  border-color lazur

.panel-info > .panel-heading
  background-color lazur
  border-color lazur
  color #ffffff

.panel-warning
  border-color yellow

.panel-warning > .panel-heading
  background-color yellow
  border-color yellow
  color #ffffff

.panel-danger
  border-color red

.panel-danger > .panel-heading
  background-color red
  border-color red
  color #ffffff

.panel-title
  font-size inherit