.progress-bar
  background-color navy

.progress-small, .progress-small .progress-bar
  height 10px

.progress-small, .progress-mini
  margin-top 5px

.progress-mini, .progress-mini .progress-bar
  height 5px
  margin-bottom 0px

.progress-bar-navy-light
  background-color #3dc7ab

.progress-bar-success
  background-color blue

.progress-bar-info
  background-color lazur

.progress-bar-warning
  background-color yellow

.progress-bar-danger
  background-color red