/* TABLES */

.table-bordered
  border 1px solid #EBEBEB

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td
  background-color #F5F5F6
  border-bottom-width 1px

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
  border 1px solid #e7e7e7

.table > thead > tr > th
  border-bottom 1px solid #DDDDDD
  vertical-align bottom

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  border-top 1px solid border-color
  line-height 1.42857
  padding 8px
  vertical-align top

.table .table-actions > a
  visibility hidden

.table > tbody
  :hover
    > td > a
      visibility visible