h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-weight 300
h1, .h1
  font-size 36px
h2, .h2
  font-size 30px
h3, .h3
  font-size 24px
h4, .h4
  font-size 18px
h5, .h5
  font-size 14px
h6, .h6
  font-size 12px
h3, h4, h5, .h3, .h4, .h5
  margin-top 5px


.font-bold
  font-weight 500

.font-noraml
  font-weight 400

.text-uppercase
  text-transform uppercase
  
.text-navy
  color navy

.text-primary
  color inherit

.text-success
  color blue

.text-info
  color lazur

.text-warning
  color yellow

.text-danger
  color red

.text-muted
  color #888888

.text-white
  color #ffffff
  
.gray-bg
  background-color gray

.white-bg
  background-color #ffffff

.navy-bg
  background-color navy
  color #ffffff

.blue-bg
  background-color blue
  color #ffffff

.lazur-bg
  background-color lazur
  color #ffffff

.yellow-bg
  background-color yellow
  color #ffffff

.red-bg
  background-color red
  color #ffffff

.black-bg
  background-color #262626
  
.text-left
  text-align left

.text-right
  text-align right

.text-strike
  text-decoration line-through
